<launch>
  <node name="joystick" pkg="joy" type="joy_node" />
      <param name="/joystick/dev" value="/dev/input/js0" /> 
      <param name="/joystick/coalesce_interval" value="0.05" />

  <node name="stepper" pkg="stepper" type="stepper_node" respawn="true" />
  
  <node name="joy_motion" pkg="motion" type="joy_motion.py" respawn="true" />

  <rosparam command="load" file="$(find idxrobot)/config.yaml" />
  
</launch>